In [5]:
from pymongo import ASCENDING, GEOSPHERE, MongoClient
import pandas as pd
from alive_progress import alive_bar
from shapely.geometry import Point, mapping
import shapely
import json
from os import listdir
from os.path import isfile, join
from tqdm import tqdm
import geopandas as gpd

In [6]:
client = MongoClient('mongodb://localhost:27017/')

In [7]:
db = client.osmDataDB

In [8]:
coll_areas = db.areas

In [9]:
coll_relations = db.relations

In [10]:
coll_nextBikeRaw = db.nextBikeRaw

In [94]:
coll_nextBikeRaw.create_index([("area_osm_id", ASCENDING)])
coll_nextBikeRaw.create_index([("geometry", GEOSPHERE)])

'geometry_2dsphere'

In [11]:
def check_duplicate_areas():
    areas = coll_areas.find()
    for area in areas:
        query = { 'geometry': { '$geoIntersects': { '$geometry': area['geometry'] } } }
        areas_prime = coll_areas.find(query)
        for area_prime in areas_prime:
            if area['osm_id'] != area_prime['osm_id']:
                print(area['relation_name'], area['osm_id'], area_prime['relation_name'], area_prime['osm_id'])

In [22]:
check_duplicate_areas()

Munich, Germany 62428 München-Land, Landkreis München, Bayern, Deutschland 3146373
München-Land, Landkreis München, Bayern, Deutschland 3146373 Munich, Germany 62428

In [29]:
def clean_orphan_records():
    osm_ids = [doc['osm_id'] for doc in coll_areas.find()]
    d = coll_relations.delete_many({ 'parent_osm_id': { '$nin': osm_ids } })
    print(d.deleted_count, " documents deleted")

In [30]:
clean_orphan_records()

0  documents deleted

In [27]:
data_directory_path = '/mnt/Storage/PwrDatasets/BicycleSharing/stations'

In [28]:
def get_area_id(point: Point):
    # print(point)
    query = { 'geometry': { '$geoIntersects': { '$geometry': mapping(point) } } }
    area = coll_areas.find_one(query)
    try:
        return area['osm_id']
    except:
        print('missing area', point)
        # print(query)
        return None

In [29]:
def get_point(lat, lon):
    return Point(lon, lat)

In [30]:
osm_id = get_area_id(get_point(51.217820000000000000,4.420650000000000000))
print(osm_id)

59518

In [119]:
def iterate_bulk_csv():
    path = data_directory_path + '/bulk'
    files = [join(path, f) for f in listdir(path) if isfile(join(path, f))]
    dfs = []
    fields = ['lat', 'lon', 'station_name', 'temporary']
    for f in files:
        # print(pd.read_csv(f, skipinitialspace=True, usecols=fields)['name'])
        df = pd.read_csv(f, skipinitialspace=True, usecols=fields)
        dfs.append(df)
    df = pd.concat(dfs)
    df = df[df.temporary != True]
    # with alive_bar(len(df), title=f"Saving stations to MongoDB") as bar:
    for index, row in tqdm(df.iterrows(), total=len(df)):
        # print(row)
        pt = get_point(row.lat, row.lon)
        if (row.lat is int or row.lon is int):
            print('INTEGER', pt)
            continue
        area_id = get_area_id(pt)
        if area_id:
            record = {
                'area_osm_id': area_id,
                'name': row.station_name,
                'geometry': mapping(pt)
            }
            # print(record['name'])
            coll_nextBikeRaw.replace_one({'geometry':record['geometry']}, record, True)
            # bar()

In [120]:
iterate_bulk_csv()

  1%|          | 86/11339 [00:00<00:27, 406.63it/s]missing area POINT (33.31502105305844 35.16707219939804)
  7%|▋         | 772/11339 [00:02<00:29, 353.33it/s]missing area POINT (2.1341586 41.363279)
 16%|█▋        | 1851/11339 [00:08<00:39, 243.08it/s]missing area POINT (4.290068267530001 50.7978663478)
 19%|█▉        | 2181/11339 [00:09<00:33, 275.78it/s]missing area POINT (-3.166644 51.446057)
 24%|██▍       | 2694/11339 [00:15<01:20, 107.59it/s]missing area POINT (-3.0583068367 55.94396074180001)
missing area POINT (-3.06675391622 55.94388031689999)
missing area POINT (-3.07310463368 55.9319804826)
 31%|███       | 3471/11339 [00:19<00:44, 176.53it/s]missing area POINT (30.40983974933625 50.36055836832283)
 54%|█████▍    | 6168/11339 [01:05<02:01, 42.71it/s]missing area POINT (37.36940999999999 55.59385)
 55%|█████▍    | 6226/11339 [01:06<01:52, 45.25it/s]missing area POINT (37.40388 55.59981999999999)
 80%|███████▉  | 9021/11339 [02:23<00:20, 112.77it/s]missing area POINT (16.88657104969025 52.35371753650325)
missing area POINT (16.882107 52.352165)
missing area POINT (16.88072 52.348828)
missing area POINT (16.882574 52.34329)
missing area POINT (16.892548 52.344134)
missing area POINT (16.861076 52.349716)
missing area POINT (16.88953 52.33300999999999)
missing area POINT (16.89727 52.34819)
missing area POINT (16.86261 52.3427)
missing area POINT (16.87815 52.32742)
missing area POINT (16.87191 52.33963)
missing area POINT (16.80782 52.36555)
missing area POINT (16.81169 52.37413)
 83%|████████▎ | 9451/11339 [02:29<00:22, 85.04it/s]missing area POINT (24.03648734092712 56.92631339551439)
 89%|████████▉ | 10094/11339 [02:36<00:12, 101.65it/s]missing area POINT (0.5478850000000001 44.869297)
 90%|████████▉ | 10149/11339 [02:37<00:11, 99.68it/s]missing area POINT (1.482704 43.62900399999999)
 98%|█████████▊| 11129/11339 [02:50<00:02, 100.06it/s]missing area POINT (21.01796150207519 52.06681812814481)
missing area POINT (21.02705419063568 52.07282949167776)
missing area POINT (21.052146 52.09932)
missing area POINT (21.034699 52.062009)
missing area POINT (21.02435 52.051776)
missing area POINT (21.012316 52.076118)
 99%|█████████▉| 11233/11339 [02:52<00:01, 81.37it/s]missing area POINT (16.961699 51.048391)
100%|██████████| 11339/11339 [02:54<00:00, 65.10it/s]

In [63]:
pd.read_csv('/mnt/Storage/PwrDatasets/BicycleSharing/stations/bulk/madrid.csv')

,id,name,lat,lon,bikes,spaces,installed,locked,temporary,open_or_total_docks,bonus,ticket,xd
1,1,Puerta del Sol A,40.417214,-3.701834,28,1,True,False,False,30,NaN,NaN,NaN
2,2,Puerta del Sol B,40.417313,-3.701603,14,16,True,False,False,30,NaN,NaN,NaN
3,3,Miguel Moya,40.420589,-3.705842,8,15,True,False,False,24,NaN,NaN,NaN
4,4,Plaza Conde Suchil,40.430294,-3.706917,6,7,True,False,False,18,NaN,NaN,NaN
5,5,Malasaña,40.428552,-3.702587,12,11,True,False,False,24,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,INEF,40.438960,-3.729970,14,6,True,False,False,24,NaN,NaN,NaN
266,266,Ciudad Universitaria 1,40.443750,-3.726990,5,16,True,False,False,24,NaN,NaN,NaN
267,267,Ciudad Universitaria 2,40.443420,-3.726930,15,9,True,False,False,24,NaN,NaN,NaN
268,268,Facultad Biología,40.449120,-3.727310,15,6,True,False,False,24,NaN,NaN,NaN
269,269,Facultad Derecho,40.451090,-3.729370,17,5,True,False,False,24,NaN,NaN,NaN

In [67]:
dijon = json.load(open('/mnt/Storage/PwrDatasets/BicycleSharing/stations/dijon.json'))
lausanne_bern = json.load(open('/mnt/Storage/PwrDatasets/BicycleSharing/stations/lausanne_bern.json'))
malmo = json.load(open('/mnt/Storage/PwrDatasets/BicycleSharing/stations/malmo.json'))

In [71]:
dijon_parsed = [{
    'name': x['infos']['nom'],
    'lat': float(x['infos']['lat']),
    'lon': float(x['infos']['lon'])
} for x in dijon]

In [78]:
lausanne_bern = [{
    'name': x['id'],
    'lat': float(x['lat']),
    'lon': float(x['lon'])
} for x in lausanne_bern]

In [80]:
malmo = [{
    'name': x['name'],
    'lat': float(x['lat']),
    'lon': float(x['lon'])
} for x in malmo]

In [121]:
stations_json = dijon_parsed + lausanne_bern + malmo
for row in tqdm(stations_json):
    # print(row)
    pt = get_point(row['lat'], row['lon'])
    area_id = get_area_id(pt)
    if area_id:
        record = {
            'area_osm_id': area_id,
            'name': row['name'],
            'geometry': mapping(pt)
        }
        coll_nextBikeRaw.replace_one({'geometry':record['geometry']}, record, True)

  9%|▉         | 64/684 [00:00<00:09, 62.68it/s]missing area POINT (8.957940000000001 46.0105808)
missing area POINT (6.23856 46.39294)
missing area POINT (6.5655126 46.5224054)
missing area POINT (8.9192 45.9242)
missing area POINT (8.927351 45.973369)
 12%|█▏        | 84/684 [00:01<00:10, 57.84it/s]missing area POINT (8.917052 45.958424)
missing area POINT (6.579268 46.526079)
missing area POINT (8.959651300000001 46.0166117)
missing area POINT (8.943799 45.991081)
 15%|█▌        | 106/684 [00:01<00:08, 65.28it/s]missing area POINT (8.958952 46.013865)
missing area POINT (8.962901 46.021942)
missing area POINT (6.225766 46.383066)
missing area POINT (7.15074 46.77787)
missing area POINT (7.377833 46.235077)
missing area POINT (8.945138999999999 45.999094)
missing area POINT (7.147493 46.79816)
 18%|█▊        | 120/684 [00:02<00:16, 34.36it/s]missing area POINT (6.19271 46.31526)
missing area POINT (8.955118000000001 46.012252)
missing area POINT (7.11461 46.81288)
 20%|█▉        | 135/684 [00:02<00:11, 46.98it/s]missing area POINT (6.492569 46.511048)
missing area POINT (7.151989 46.803943)
missing area POINT (8.921806 46.032852)
missing area POINT (7.358569 46.226775)
missing area POINT (7.53985 46.283387)
missing area POINT (7.373705 46.23055)
missing area POINT (8.966678999999999 46.065999)
 23%|██▎       | 158/684 [00:02<00:09, 54.84it/s]missing area POINT (6.20499 46.38065)
missing area POINT (7.1505764 46.7804953)
missing area POINT (6.32262 46.46063)
missing area POINT (8.94848 45.998453)
missing area POINT (6.23574 46.38362)
missing area POINT (6.561272 46.517153)
missing area POINT (7.15297 46.806876)
 25%|██▌       | 174/684 [00:03<00:07, 63.80it/s]missing area POINT (7.162033 46.77173)
missing area POINT (7.155941 46.808006)
missing area POINT (8.918120999999999 45.982056)
missing area POINT (7.155553 46.804568)
missing area POINT (6.34011 46.45924)
missing area POINT (6.278163 46.41609)
missing area POINT (8.957374 46.005806)
 27%|██▋       | 183/684 [00:03<00:07, 68.60it/s]missing area POINT (8.912639 46.000482)
missing area POINT (6.16927 46.29934)
missing area POINT (7.1322764 46.7931454)
missing area POINT (7.35462 46.225614)
missing area POINT (7.1509925 46.802604)
 28%|██▊       | 191/684 [00:03<00:07, 65.84it/s]missing area POINT (6.499667 46.508486)
 30%|██▉       | 204/684 [00:04<00:13, 34.68it/s]missing area POINT (7.132707 46.794595)
 32%|███▏      | 218/684 [00:04<00:11, 40.50it/s]missing area POINT (6.23973 46.38356)
missing area POINT (7.342806 46.226638)
missing area POINT (6.571784 46.520202)
 34%|███▍      | 231/684 [00:04<00:09, 46.63it/s]missing area POINT (6.27016 46.420183)
missing area POINT (7.1160135 46.7899747)
missing area POINT (8.947096 46.004469)
missing area POINT (7.333028 46.224204)
missing area POINT (7.161559 46.803797)
missing area POINT (8.9668282 46.0159412)
missing area POINT (7.14288 46.79619)
 36%|███▌      | 245/684 [00:04<00:08, 49.63it/s]missing area POINT (8.96429 46.01876)
missing area POINT (8.9657021 46.0121344)
missing area POINT (7.532595 46.292365)
missing area POINT (8.917196000000001 46.022676)
 38%|███▊      | 260/684 [00:05<00:07, 55.80it/s]missing area POINT (8.932378 45.984764)
missing area POINT (8.959918999999999 46.023159)
missing area POINT (8.915525000000001 45.972202)
missing area POINT (8.96008 46.009713)
missing area POINT (6.26546 46.42391)
 40%|████      | 274/684 [00:05<00:07, 55.07it/s]missing area POINT (7.150142 46.811754)
missing area POINT (7.146355 46.802118)
missing area POINT (8.942729 46.005726)
missing area POINT (7.140663 46.80007)
missing area POINT (8.931590999999999 46.009397)
 41%|████      | 280/684 [00:05<00:07, 54.89it/s]missing area POINT (7.15966 46.80295)
missing area POINT (7.136609 46.801805)
 44%|████▍     | 301/684 [00:06<00:10, 37.29it/s]missing area POINT (8.900957 45.996253)
missing area POINT (8.932433 46.040345)
missing area POINT (8.966775 46.006076)
missing area POINT (8.952597000000001 46.005413)
missing area POINT (6.564945 46.518108)
 46%|████▋     | 318/684 [00:06<00:08, 41.94it/s]missing area POINT (7.364306 46.238416)
 49%|████▉     | 334/684 [00:06<00:06, 50.37it/s]missing area POINT (8.954822999999999 46.03702)
missing area POINT (7.119618 46.798038)
missing area POINT (7.151984 46.799339)
missing area POINT (7.16038 46.776964)
missing area POINT (7.386034 46.234697)
missing area POINT (8.9575686 46.0084322)
missing area POINT (6.336791 46.45543)
missing area POINT (7.12996 46.816013)
missing area POINT (8.979558000000001 46.037002)
 52%|█████▏    | 359/684 [00:07<00:06, 53.63it/s]missing area POINT (6.50736 46.51856)
missing area POINT (6.573253 46.521043)
 54%|█████▍    | 372/684 [00:07<00:05, 56.93it/s]missing area POINT (6.496026 46.510581)
missing area POINT (8.9512745 46.0082843)
missing area POINT (8.955876 46.016524)
 56%|█████▋    | 385/684 [00:07<00:05, 53.54it/s]missing area POINT (6.495352 46.50737)
 58%|█████▊    | 399/684 [00:07<00:05, 54.83it/s]missing area POINT (7.14687 46.809589)
missing area POINT (6.28774 46.425927)
missing area POINT (8.971690000000001 46.020198)
missing area POINT (7.156473 46.795871)
 60%|██████    | 411/684 [00:08<00:09, 28.38it/s]missing area POINT (6.481123 46.502204)
missing area POINT (7.533052 46.291525)
missing area POINT (7.155715 46.815219)
 63%|██████▎   | 428/684 [00:08<00:06, 40.04it/s]missing area POINT (7.114034 46.794798)
 64%|██████▍   | 441/684 [00:09<00:05, 48.00it/s]missing area POINT (8.949714999999999 45.953905)
missing area POINT (8.943486999999999 46.012555)
missing area POINT (7.122294 46.800445)
 67%|██████▋   | 459/684 [00:09<00:04, 49.33it/s]missing area POINT (8.875446999999999 45.977309)
missing area POINT (7.359828 46.235671)
missing area POINT (7.155003 46.79427)
 69%|██████▉   | 472/684 [00:09<00:04, 52.32it/s]missing area POINT (6.23491 46.38421)
missing area POINT (8.971603999999999 46.015758)
missing area POINT (7.165191 46.805413)
 72%|███████▏  | 492/684 [00:10<00:03, 57.34it/s]missing area POINT (7.151055 46.796242)
missing area POINT (6.5261484 46.5175143)
missing area POINT (8.88374 45.970318)
missing area POINT (7.400189 46.231055)
missing area POINT (8.968292 46.02398)
missing area POINT (7.14049 46.79435)
missing area POINT (6.27557 46.42329)
 76%|███████▌  | 517/684 [00:10<00:03, 43.57it/s]missing area POINT (8.914699000000001 46.012749)
missing area POINT (7.363252 46.232201)
missing area POINT (6.19293 46.33296)
missing area POINT (7.3595 46.2278)
missing area POINT (6.568276 46.520723)
missing area POINT (6.24357 46.38278)
missing area POINT (6.499863 46.510562)
 77%|███████▋  | 527/684 [00:11<00:03, 51.93it/s]missing area POINT (8.883592999999999 45.982042)
missing area POINT (8.934162000000001 46.001154)
missing area POINT (8.9638054 46.0090116)
missing area POINT (6.584961 46.522591)
missing area POINT (8.946661000000001 45.989126)
missing area POINT (6.267441 46.417718)
 81%|████████▏ | 557/684 [00:11<00:01, 66.54it/s]missing area POINT (6.564896 46.521978)
missing area POINT (7.1584206 46.793372)
missing area POINT (6.2585274 46.4223802)
missing area POINT (7.522262 46.292116)
missing area POINT (8.924531999999999 45.993326)
missing area POINT (7.3507 46.2285)
missing area POINT (7.358425 46.232469)
missing area POINT (8.961709000000001 46.005849)
missing area POINT (6.562162 46.518951)
missing area POINT (6.23137 46.39236)
missing area POINT (8.916114 46.020356)
missing area POINT (6.2321083 46.3995398)
missing area POINT (6.579676 46.519805)
missing area POINT (8.941041999999999 46.016072)
missing area POINT (6.23515 46.37679)
missing area POINT (7.1730614 46.8104076)
missing area POINT (7.167527 46.802937)
missing area POINT (6.566487 46.532879)
 83%|████████▎ | 567/684 [00:11<00:01, 73.39it/s]missing area POINT (6.578087 46.536889)
missing area POINT (6.2137814 46.38347)
missing area POINT (6.581345 46.521668)
missing area POINT (8.952903600000001 46.0036519)
 86%|████████▌ | 586/684 [00:11<00:01, 59.63it/s]missing area POINT (6.566695 46.52864)
missing area POINT (7.1620248 46.806661)
missing area POINT (6.26294 46.42121)
 92%|█████████▏| 628/684 [00:12<00:00, 86.99it/s]missing area POINT (12.996309 55.616396)
100%|██████████| 684/684 [00:12<00:00, 52.82it/s]

In [149]:
records = [r for r in coll_nextBikeRaw.find()]

In [156]:
for r in records:
    r['geometry'] = shapely.geometry.shape(r['geometry'])
    del r['_id']

In [157]:
df = gpd.GeoDataFrame([r for r in records])

In [158]:
df

       area_osm_id               name                   geometry
0          1390623      Headford Road  POINT (-9.05069 53.27835)
1          1390623          Cathedral  POINT (-9.05724 53.27584)
2          1390623          Wood Quay  POINT (-9.05308 53.27638)
3          1390623        County Hall  POINT (-9.04800 53.27600)
4          1390623   Galway City Hall  POINT (-9.04300 53.27600)
...            ...                ...                        ...
11821     10663667  Helsingborgsgatan  POINT (13.01106 55.59574)
11822     10663667           Moriskan  POINT (13.01159 55.59275)
11823     10663667      Falsterboplan  POINT (13.01452 55.59045)
11824     10663667     Spiggans plats  POINT (13.01976 55.60170)
11825     10663667           Segepark  POINT (13.05207 55.61168)

[11826 rows x 3 columns]

In [159]:
source_json = df.to_json(na='drop')
with open('nextbike.geojson', 'w', encoding='utf-8') as source:
    source.write(source_json)

In [25]:
areas_records = [r for r in coll_areas.find()]

In [26]:
for r in areas_records:
    r['geometry'] = shapely.geometry.shape(r['geometry'])
    del r['_id']

In [27]:
df_areas = gpd.GeoDataFrame([r for r in areas_records])
df_areas

,osm_id,relation_name,administration_name,geometry
0,2805691,"Wrocław, Poland","Wrocław, powiat wrocławski, województwo dolnoś...","POLYGON ((16.80734 51.13895, 16.80859 51.13887..."
1,175342,"Greater London, UK","Greater London, England, United Kingdom","POLYGON ((-0.51038 51.46809, -0.51036 51.46795..."
2,109166,"Vienna, Austria","Wien, Österreich","POLYGON ((16.18183 48.17112, 16.18190 48.17103..."
3,59518,"Antwerp, Belgium","Antwerpen, Vlaanderen, België / Belgique / Bel...","POLYGON ((4.21758 51.37389, 4.21826 51.37221, ..."
4,2628520,"Greater Nicosia, Nicosia District, Cyprus","Λευκωσία - Lefkoşa, Λευκωσία, Κύπρος, Κύπρος -...","POLYGON ((33.26978 35.13287, 33.27003 35.13262..."
...,...,...,...,...
61,44880,"Torino, Piemonte, Italia","Torino, Piemonte, Italia","POLYGON ((6.62727 45.10680, 6.62728 45.10622, ..."
62,1685958,"Dijon, Côte-d'Or, Bourgogne-Franche-Comté, Fra...","Dijon, Côte-d'Or, Bourgogne-Franche-Comté, Fra...","POLYGON ((4.56872 47.32121, 4.56929 47.32079, ..."
63,1690227,"Zürich, Schweiz/Suisse/Svizzera/Svizra","Zürich, Schweiz/Suisse/Svizzera/Svizra","POLYGON ((8.35768 47.50253, 8.35783 47.50247, ..."
64,1686344,"Bern/Berne, Schweiz/Suisse/Svizzera/Svizra","Bern/Berne, Schweiz/Suisse/Svizzera/Svizra","MULTIPOLYGON (((6.86148 47.16563, 6.86152 47.1..."
65,6205453,"Ancien district de Lausanne, Epalinges, Distri...","Ancien district de Lausanne, Epalinges, Distri...","POLYGON ((6.56296 46.54493, 6.56299 46.54477, ..."

In [28]:
source_json = df_areas.to_json(na='drop')
with open('areas.geojson', 'w', encoding='utf-8') as source:
    source.write(source_json)